/*
  FILE NAME: './styles/style.css
  WRITTEN BY: Magnus, Andreas, Mathias, Øyvind, Carl
  WHEN: 
  PURPOSE: Styling for the whole page.
*/
/* - - - - - - - - - - - - - - - - - - SELF-MADE GRID SYSTEM: Thrust Grid - - - - - - - - - - - - - - - - - - */

/* På en rad skal summen av boksene alltid være lik 12! */

/* Applies to all classes starting with 'col' */
[class^='col'] {
  min-height: 1px;
}

@media only screen and (min-width: 1001px) {
  [class^='col'] {
    float: left;
  }
}
  /* 24 bokser i bredden*/
.col-05 {
  width: calc((0.5/12)*100%);
}

/* 8.33% - 12 bokser i bredden*/
.col-1 {
  width: calc((1/12)*100%);
}

/* 16.67% - 6 bokser i bredden*/
.col-2 {
  width: calc((2/12)*100%);
}

/* 25% - 4 bokser i bredden */
.col-3 {
  width: calc((3/12)*100%);
}

/* 33.33% - 3 bokser i bredden*/
.col-4 {
  width: calc((4/12)*100%);
}

/* 41.6% - Opptar ca. 42% av siden, må kombineres med andre bokser */
.col-5 {
  width: calc((5/12)*100%);
}

.col-575 {
  width: calc((5.75/12)*100%);
}

/* 50% - 2 bokser i bredden */
.col-6 {
  width: calc((6/12)*100%);
}

/* 58.3% - Opptar ca. 58% av bredden, må kombineres med andre bokser */
.col-7 {
  width: calc((7/12)*100%);
}

/* 66.67% - Opptar ca. 67% av bredden, må kombineres med andre bokser.*/
.col-8 {
  width: calc((8/12)*100%);
}

/* 75% - Opptar 75% av bredden, må kombineres med andre bokser.*/
.col-9 {
  width: calc((9/12)*100%);
}

/* 83.33% - Opptar ca. 83 % av siden, må kombineres med andre bokser */
.col-10 {
  width: calc((10/12)*100%);
}

/* 91.67%% - Opptar ca. 92 % av siden, må kombineres med andre bokser */
.col-11 {
  width: calc((11/12)*100%);
}

/* 100% - Dekker hele siden.*/
.col-12 {
  width: calc((12/12)*100%);
}

.row {
  width: 100%;
  margin: 10px 0;
  float: left;
  min-height: 1px;
  font-family: 'Trebuchet MS', Courier, monospace;
}

/* Debugging*/
/* Denne gir meg en hvit border strek rundt divene*/
.row > div {
  overflow: hidden;
}


/* - - - - - - - - - - - - - - - - - - CONTENT STYLING - - - - - - - - - - - - - - - - - - */
* {
  margin-block-start: 0;
  margin-block-end: 0;
}
body {
  background-color: #F2F2F2;
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: auto;
}

#content {
  min-height: calc(100vh - 55px - 48px);
  overflow: hidden;
}

.row > .col-12 > h1 {
  text-align: center;
}


.row > .col-12 > p > video{
  width: 700px;
  height: auto;
}

h1{
  margin: .5em;
}

/* - - - - - - - - - - - - - - - - - - LANDING PAGE CONTENT STYLING - - - - - - - - - - - - - - - - - */

#introduction > p, #slogan > p, #renter1 > p, #renter2 > p, #renter3 > p{
  text-align: center;
  margin: .5em 3em .5em 3em;
}

#inspire2{
  margin-left: 2em;
}

#introduction > p:last-child, #slogan > p:last-child{
  margin-bottom: 10px;
}

#specifications1 > ul, #specifications2 > ul, #specifications3 > ul{
  margin-left: 1.5em;
}

#specifications1 > p, #specifications2 > p, #specifications3 > p{
  margin-left: 3em;
  font-weight: bold;
}

#specifications1 ul > li > p, #specifications2 ul > li > p, #specifications3 ul > li > p{
  font-size: 12px;
}

#droneFootage > p{
  margin-top: 10px;
  text-align: center;
  margin-bottom: -15px;
}

#droneFootageDescription  p{
  text-align: center;
  font-style: italic;
  margin-bottom: 10px;
}


/* - - - - - - - - - - - - - - - - - - ABOUT US CONTENT STYLING - - - - - - - - - - - - - - - - - - - */

#aboutMorten > p, #mortenDrones > p, #about > p{
  margin: .5em 3em .5em 3em;
  text-align: center;
}

#mortenRustad > p, #ourMission > p{
  margin-top: 10px;
  text-align: center;
}

#favDrones > p{
  text-align: right;
  margin-left: 2em;
}
#favDroneDescription > p{
  margin-left: 3em;
  text-align: left;
}

#favDroneDescription > p:last-child, #favDrones > p:last-child, #about > p:last-child{
  margin-bottom: 10px;
}

p > #storefront {
  width: 700px;
  height: auto;
}

/* - - - - - - - - - - - - - - - - - - LANDINGE PAGE IMAGE STYLING - - - - - - - - - - - - - - - - -  */
.wrapper {
  position: relative;
}

.wrapper .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}


#inspire2, #phantom4, #mavic2{
  height: 150px;
  width: auto;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper:hover .image {
  opacity: 0.3;
}

.wrapper:hover .middle {
  opacity: 1;
}

.text {
  background-color: rgba(31, 29, 28, 0.84);
  color: white;
  font-size: 16px;
  padding: 16px 10px;
}


/* - - - - - - - - - - - - - - - - - - OURDRONES.HTML BOX STYLING - - - - - - - - - - - - - - - - - - */

.textbox > h1, .textbox > img, .textbox > a, .textbox > p {
  height: 50px;
  max-height: 400px;
}

.mavic {
  height: 350px;
}

.mavic > h1 {
  font-size: 36px;
  position: relative;
  left: 10%;
  top: 30%;
}

.mavictext {
  line-height: 1.5em;
  width: 45ch;
  position: relative;
  top: 35%;
  left: 5%;
  text-align: center;
}

.textbox > p, .textbox > a {
  color: black;
  font-size: 15px;
  max-width: 40ch;
  line-height: 1.5em;
}

.textbox > a {
  position: relative;
  bottom: 0px;
  left: 40px;
}



.mavic > a {
  margin: 0px;
  color: black;
  position: relative;
  left: 10%;
  top: 30px;
}

.mavic > img {
  height: 100%;
  position: relative;
  left: 30px;
}

.mavicrentnow {
  max-width: 25%;
  max-height: 25%;
  position: relative;
  right: 20px;
  top: 70px;
}

.rentnow {
  max-width: 25%;
  max-height: 25%;
  right: 20px;
  top: 0px;
}

.imgbox > img {
  width: 350px;
  height: 290px;
  left: 20px;
}

.white {
  background-color: white;
}

/* - - - - - - - - - - - - - - - - - - NAV BAR AND FOOTER STYLING - - - - - - - - - - - - - - - - - - */
nav {
  height: 48.5px;
}

nav, footer {
  width: 100%;
  background-color: rgba(31, 29, 28, 0.84);
}

nav > ul, footer > ul {
  width: 800px;
  list-style-type: none;
  text-align: center;
  padding-left: 0%;
}

nav > ul > li, footer > ul > li {
  display: inline-block;
  padding: 15px;
  padding-right: 20px; 
  
  margin: 0 1em 0 1em;
}

nav > ul > li > a, footer > ul > li {
  text-decoration: none;
  color: white;
}



footer {
  height: 48px;
}
.activeTab {
  background-color: rgba(255, 255, 255, 0.5);
}

/* - - - - - - - - - - - - - - - - - - HTML FORM - - - - - - - - - - - - - - - - - - */
.inputField {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid black;
}

input[type="submit"] {
  margin-top: 30px;
  width: 100%;
  height: 25px;
}

/* Does not want it to apply to submit */
input[type="text"]:valid, input[type="number"]:valid, input[type="email"]:valid, textarea:valid {
    border: 1px solid green;
}


/* - - - - - - - - - - - - - - - - - - CONTACT US - - - - - - - - - - - - - - - - - - */
.pageMessage {
  margin-top: 3%;
  text-align: center;
  font-style: italic; 
}

/* Remove margin-top from the first inputfield, so it alligns with "Contact information" box */
#contactFirstInputField {
  margin-top: 0px;
}

#contactInputField {
  margin-top: 10%;
}

#contactInformationBox {
  background-color: white;
  margin-bottom: 17%;
  border: 1px solid black; 
}

#contactInformationBox > h4, #contactInformationBox p {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
} 

/* Center allign store address  */
#contactUsAddress {
  text-align: center;
}

#contactInquiry {
  height: 27%;
  
  /* Prevent textarea from resizing left or right */
  max-width: 100%;
  min-width: 100%;

  padding-top: 2%;
  margin-top: 12%;
}

#googleMap {
  width: 100%;
  height: 27%;
  margin-bottom: 10%;
}

/* - - - - - - - - - - - - - - - - - - IMAGE STYLING - - - - - - - - - - - - - - - - - - */

/* Fit to parent */
img {
  max-width: 100%;
  max-height: 100%;
}

/* - - - - - - - - - - - - - - - - - - DRONE SPECIFIC - - - - - - - - - - - - - - - - - - */
.droneContent * {
  padding: 12px;
}

#rental {
  text-align: center;
  line-height: 50px;
}


#rental input, #rental textarea {
  display: block;
  width: 80%;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

#specsDiv ul {
  list-style: none;
}

/* - - - - - - - - - - - - - - - - - - IMAGE CAROUSEL - - - - - - - - - - - - - - - - - - */
.carousel {
  position: relative;
}

/* Make image fit small box */

.mini-image {
  height: 150px;
}

.mini-image img {
  height: 100%;
  width: 100%;
}

/* Start as hidden */
.mySlides{
  display: none;
  text-align: center;
  overflow: hidden;
  height: 450px;
}

/* Style cursor on hover*/
.cursor {
  cursor: pointer;
}

/* Fade images currently not active */
.blur {
  opacity: 0.6;
}

/* If image is active or mini image is hovered */
.active,
.blur:hover {
  opacity: 1;
}

/* Creates a rather smooth transformation when switching images in the carousel */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .2;
  };

  to {
    opacity: 1;
  };
}

/* - - - - - - - - - - - - - - - - - - VIDEO PAGE - - - - - - - - - - - - - - - - - - */
.videoText{
  margin-top: 10%;
  margin-bottom: 10%;
}

.whiteBackground {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.horisontalLine {
  background-color: black;
}

/* - - - - - - - - - - - - - - - - - - RESPONSIVENESS - - - - - - - - - - - - - - - - - - */

@media only screen and (min-width: 1001px) {

  .videoText {
    padding-right: 10%;
  }

  .imgbox > img {
    position: relative;
  }

  .textbox > h1, .textbox > p {
    position: relative;
    left: 10%;
  }
    .rentnow {
    position: relative;
  }

  .heightVideopage {
    height: 250px;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    max-width: 80%;
    margin: auto;
  }
  .fullscreen {
    width: 100%;
  }

  .fullscreen * {
    margin: auto;
    display: block;
  }

  .videoTextbox {
    max-width: 340px;
    margin: auto;
  }

  .fill {
    background-color: transparent;
  }

  .horisontalLine {
    display: none;
  }


  .imgbox > img {
    width: 80%;
    height: auto;
    margin: auto;
    display: block;
  }

  .textbox {
    text-align: center;
  }

}